.App {
    display: flex;
    justify-content: center;
    margin-left: 10%;
    height: 100vh;
  }
.chat,h1{
  text-align: center;
  margin-top: 10%;
  margin-right: 10%;
}
input{
  width: 1000px;
  height:  50px;
  border-radius: 20px;
}
.file{
  width:200px;
  height: 10%;
  margin-top: 10px;
}

.send{
  margin: 10px;

}